/* Variable Imports */
@import './variables.css';

/* Font Imports */
@font-face {
  font-family: 'Red Hat Display';
  font-display: swap;
  font-weight: 500 700 900;
  src: url('../assets/fonts/RedHatDisplay-VariableFont_wght.ttf')
       format('truetype')
}

/*
  CSS Reset
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: 'Red Hat Display';
  font-weight: var(--fw-regular);
  font-size: var(--font-paragraph);
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  padding: 0;
}
#root, #__next {
  isolation: isolate;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-paleBlue);
  background-image: url('../assets/images/pattern-background-desktop.svg');
  background-repeat: repeat-x;
  height: 100vh;
  gap: 1rem;
}

.order-card-container {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--clr-veryPaleBlue);
}

.attribution {
  font-size: 1rem;
  font-weight: var(--fw-regular);
  color: var(--clr-darkBlue);
}