/* Font Imports */
@font-face {
  font-family: 'Red Hat Display';
  font-display: swap;
  font-weight: 500 700 900;
  src: url('../assets/fonts/RedHatDisplay-VariableFont_wght.ttf')
       format('truetype')
}

/*
  CSS Variables
*/
:root {
  /* Layout */
  --width-mobile: 375px;
  --width-desktop: 1440px;

  /* Colours */
  --clr-white: hsl(0, 100%, 100%);
  --clr-paleBlue: hsl(225, 100%, 94%);
  --clr-brightBlue: hsl(245, 75%, 52%);
  --clr-veryPaleBlue: hsl(225, 100%, 98%);
  --clr-desaturatedBlue: hsl(224, 23%, 55%);
  --clr-darkBlue: hsl(223, 47%, 23%);

  /* Typography */
  --font-paragraph: 16px;
  --fw-regular: 500;
  --fw-bold: 700;
  --fw-offBlack: 900;
}

/*
  CSS Reset
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  padding: 0;
}
#root, #__next {
  isolation: isolate;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: var(--width-desktop);
  background-color: var(--clr-paleBlue);
  height: 100vh;
  gap: 10px;
}

.banner-image {
  position: absolute;
  inset: 0;
}

.order-card {
  width: 450px;
}

.order-banner {
  border-radius: 1rem 1rem 0 0;
}

.order-summary {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: var(--clr-white);
  padding: 2.25rem;
  border-radius: 0 0 1rem 1rem;
}

.order-summary-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem 0 1rem;
  font-family: 'Red Hat Display';
  text-align: center
}

.order-summary-text h1 {
  color: var(--clr-darkBlue);
  font-weight: var(--fw-offBlack);
}

.order-summary-text p {
  font-size: var(--font-paragraph);
  color: var(--clr-desaturatedBlue);
  font-weight: var(--fw-regular);
}

.order-plan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--clr-veryPaleBlue);
  padding: 1.25rem;
  border-radius: 1rem;
}

.plan-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.plan-details-text {
  display: flex;
  flex-direction: column;
  font-family: 'Red Hat Display';
}

.plan-details-text h4 {
  color: var(--clr-darkBlue);
  font-weight: var(--fw-offBlack);
}

.plan-details-text p {
  font-size: var(--font-paragraph);
  color: var(--clr-desaturatedBlue);
  font-weight: var(--fw-regular);
}

.order-plan button {
  all: unset;
  font-size: var(--font-paragraph);
  font-weight: var(--fw-bold);
  font-family: 'Red Hat Display';
  color: var(--clr-brightBlue);
  text-decoration: underline;
}

.order-plan button:hover {
  cursor: pointer;
}

.button-display {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.button-display button {
  text-align: center;
  font-family: 'Red Hat Display';
  font-size: var(--font-paragraph);
  font-weight: var(--fw-bold);
  border-radius: 1rem;
  border: 0rem;
}

.payment-button {
  background-color: var(--clr-brightBlue);
  padding: 13px 0 13px 0;
  box-shadow: 0 20px 8px var(--clr-paleBlue);
  color: var(--clr-white);
}

.cancel-button {
  color: var(--clr-desaturatedBlue);
  background-color: var(--clr-white);
  font-family: 'Red Hat Display';
  font-size: var(--font-paragraph);
  font-weight: var(--fw-bold);
  text-align: center;
  margin-top: 20px;
}

.button-display button:hover {
  cursor: pointer;
}

.attribution {
  font-family: 'Red Hat Display';
  font-size: var(--font-paragraph);
  font-weight: var(--fw-regular);
  color: var(--clr-darkBlue);
}
