/* Font Imports */
@font-face {
  font-family: 'Manrope';
  font-display: swap;
  font-weight: 500 700;
  src: url('../assets/fonts/Manrope-VariableFont_wght.ttf')
       format('truetype')
}

/*
  CSS Variables
*/
:root {
  /* Layout */
  --width-mobile: 375px;
  --width-desktop: 1440;

  /* Colours */
  --clr-darkGrayishBlue: hsl(217, 19%, 35%);
  --clr-desaturatedDarkBlue: hsl(214, 17%, 51%);
  --clr-grayishBlue: hsl(212, 23%, 69%);
  --clr-lightGrayishBlue: hsl(210, 46%, 95%);

  /* Typography */
  --font-paragraph: 13px;
  --fw-regular: 500;
  --fw-bold: 700;
}

/*
  CSS Reset
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: 'Manrope'
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  padding: 0;
}
#root, #__next {
  isolation: isolate;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-lightGrayishBlue);
  height: 100vh;
  gap: 1rem;
}

.article-and-image {
  display: flex;
  flex-direction: row;
  max-width: 900px;
}

.article-image {
  width: 400px;
  border-radius: 1rem 0rem 0rem 1rem;
}

.article {
  padding: 2.5rem;
  border-radius: 0rem 1rem 1rem 0rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 1rem;
}

@media (max-width: 900px) {
  .article-and-image {
    flex-direction: column;
  }
  .article-image {
    border-radius: 1rem 1rem 0rem 0rem;
  }
  .article {
    max-width: 400px;
    padding: 2rem;
    border-radius: 0rem 0rem 1rem 1rem;
  }
}


.article-title {
  font-weight: var(--fw-bold);
  color: var(--clr-darkGrayishBlue);
}

.article-text {
  font-weight: var(--fw-regular);
  font-size: var(--font-paragraph);
  color: var(--clr-darkGrayishBlue);
}

.share-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  align-items: center;
  background: var(--clr-darkGrayishBlue);
  border-radius: 0.5rem;
}

.links {
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  letter-spacing: 3px;
  font-weight: var(--fw-bold);
  font-size: var(--font-paragraph);
  color: var(--clr-grayishBlue);
}

.clickable-links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.clickable-link:hover {
  cursor: pointer;
}

.author-and-share {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.author-image {
  width: 45px;
  border-radius: 10rem;
  border: 1px solid var(--clr-lightGrayishBlue);
}

.author-text h5 {
  font-weight: var(--fw-bold);
  color: var(--clr-darkGrayishBlue);
}

.author-text p {
  font-weight: var(--fw-regular);
  font-size: var(--font-paragraph);
  color: var(--clr-grayishBlue);
}

.share-button {
  background: var(--clr-lightGrayishBlue);
  border-radius: 3rem;
  padding: 8px;
  justify-content: center;
  border: 0;
}

.share-button:hover {
  cursor: pointer;
}

.share-button-active {
  background: var(--clr-darkGrayishBlue);
  border-radius: 3rem;
  padding: 8px;
  justify-content: center;
  border: 0;
}

.share-button-active:hover {
  cursor: pointer;
}