/* Font Imports */
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-weight: 400 600 700;
  src: url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf')
       format('truetype')
}

/*
  CSS Variables
*/
:root {
  /* Layout */
  --width-mobile: 375px;
  --width-desktop: 1440px;

  /* Colours */
  --clr-green: hsl(75, 94%, 57%);
  --clr-white: hsl(0, 0%, 85%);
  --clr-grey: hsl(0, 0%, 20%);
  --clr-darkGrey: hsl(0, 0%, 12%);
  --clr-offBlack: hsl(0, 0%, 8%);

  /* Typography */
  --font-paragraph: 14px;
  --fw-regular: 400;
  --fw-bold: 600;
  --fw-darkBold: 700;
}

/*
  CSS Reset
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  padding: 0;
}
#root, #__next {
  isolation: isolate;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--clr-offBlack);
  gap: 20px;
}

.social-card {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-darkGrey);
  padding: 2rem;
  gap: 1rem;
  border-radius: 1rem;
}

.social-card-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.image {
  width: 80px;
  border-radius: 10rem;
}

.social-name {
  text-align: center;
  font-family: 'Inter';
  font-weight: var(--fw-bold);
  color: var(--clr-white);
}

.social-location {
  text-align: center;
  font-family: 'Inter';
  font-size: var(--font-paragraph);
  font-weight: var(--fw-bold);
  color: var(--clr-green);
}

.social-card-info {
  text-align: center;
  font-family: 'Inter';
  padding: 0rem 1rem 0rem 1rem;
  font-size: var(--font-paragraph);
  font-weight: var(--fw-regular);
  color: var(--clr-white);
}

.social-card-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-card-link {
  background: var(--clr-grey);
  border-radius: 0.6rem;
  border: none;
  padding: 0.6rem;
  box-shadow: none;
  text-align: center;
  color: var(--clr-white);
  font-size: var(--font-paragraph);
  font-weight: var(--fw-bold);
  font-family: 'Inter';
}

.social-card-link:hover {
  cursor: pointer;
  color: var(--clr-offBlack);
  background: var(--clr-green);
}

.attribution {
  font-family: 'Inter';
  font-size: var(--font-paragraph);
  font-weight: var(--fw-regular);
  color: var(--clr-white);
}