/* Variable Imports */
@import '../../variables.css';

.job-card {
  width: 1000px;
  padding: 2rem;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.job-details-and-image {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.job-details {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

/* JobCardCompany styles */
.job-card-company {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.company-role {
  font-weight: var(--fw-bold);
  color: var(--clr-desaturedDarkCyan);
}

/* CompanyChip styles */
.new-status {
  display: inline-block;
  font-weight: var(--fw-bold);
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 5px 0px 5px;
  border-radius: 3rem;
  color: var(--clr-lightGrayishCyanTablet);
  background-color: var(--clr-desaturedDarkCyan);
}

.featured-status {
  font-weight: var(--fw-bold);
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 5px 0px 5px;
  border-radius: 3rem;
  color: var(--clr-lightGrayishCyanTablet);
  background-color: var(--clr-veryDarkGrayishCyan);
}
