/* Variable Imports */
@import '../variables.css';

.order-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.75rem;
  padding: 2.25rem 2.75rem 1.75rem 2.75rem;
}