/* Variable Imports */
@import '../variables.css';

.header-text {
  font-weight: var(--fw-extraBold);
  font-size: 2rem;
  color: var(--clr-darkBlue);
}

.regular-text {
  font-weight: var(--fw-regular);
  font-size: 1rem;
  color: var(--clr-desaturatedBlue);
}

.alt-header-text {
  font-weight: var(--fw-extraBold);
  font-size: 1rem;
  color: var(--clr-darkBlue)
}