/* Font Imports */
@font-face {
  font-family: 'Young Serif';
  font-display: swap;
  font-weight: 400;
  src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf')
       format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-display: swap;
  font-weight: 400 600 700;
  src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf')
       format('truetype')
}

/*
  CSS Variables
*/
:root {
  /* Layout */
  --width-mobile: 375;
  --width-desktop: 1440;

  /* Colours */
  --clr-nutmeg: hsl(14, 45%, 36%);
  --clr-darkRaspberry: hsl(332, 51%, 32%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-roseWhite: hsl(330, 100%, 98%);
  --clr-eggshell: hsl(30, 54%, 90%);
  --clr-lightGrey: hsl(30, 18%, 87%);
  --clr-wengeBrown: hsl(30, 10%, 34%);
  --clr-darkCharcoal: hsl(24, 5%, 18%);

  /* Typography */
  --font-paragraph: 16;

  --font-family-default: 'Young Serif', serif;
  --font-family-secondary: 'Outfit', sans-serif;

  --fw-regular: 400;
  --fw-semiBold: 600;
  --fw-bold: 700;

}

/* CSS Reset */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}