/* Variable Imports */
@import './variables.css';

/* Font Imports */
@font-face {
  font-family: 'Overpass';
  font-display: swap;
  font-weight: 400 700;
  src: url('../assets/fonts/Overpass-VariableFont_wght.ttf')
       format('truetype')
}

/*
  CSS Reset
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: 'Overpass';
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  padding: 0;
}
#root, #__next {
  isolation: isolate;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
  gap: 1rem;
}

.interactive-rating-display {
  display: flex;
  flex-direction: column;
  width: 375px;
  background-color: var(--clr-veryDarkBlue);
  padding: 2rem;
  border-radius: 1rem;
  gap: 1rem;
}

.rating-message {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.display-title {
  color: var(--clr-white);
  font-weight: var(--fw-bold);
}

.display-message {
  color: var(--clr-lightGrey);
  font-weight: var(--fw-regular);
  font-size: var(--font-paragraph);
}

.rating-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}

.attribution {
  color: var(--clr-white);
}
