/* Font Imports */
@font-face {
  font-family: 'Outfit';
  font-display: swap;
  font-weight: 300 400 700;
  src: url('assets/fonts/Outfit-VariableFont_wght.ttf')
       format('truetype')
}

/*
  CSS Variables
*/
:root {
  /* Layout */
  --width-mobile: 375px;
  --width-desktop: 1440;

  /* Colours */
  --clr-white: hsl(0, 0%, 85%);
  --clr-softBlue: hsl(215, 51%, 70%);
  --clr-cyan: hsl(178, 100%, 50%);
  --clr-darkBlueMain: hsl(217, 54%, 11%);
  --clr-darkBlueCard: hsl(216, 50%, 16%);
  --clr-darkBlueLine: hsl(215, 32%, 27%);

  /* Typography */
  --font-paragraph: 18px;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
}

/*
  CSS Reset
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  padding: 0;
}
#root, #__next {
  isolation: isolate;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--clr-darkBlueMain);
  gap: 1rem;
}

.NFT-card {
  display: flex;
  flex-direction: column;
  max-width: var(--width-mobile);
  padding: 1.5rem;
  background: var(--clr-darkBlueCard);
  border-radius: 1rem;
  gap: 1rem;
}

.NFT-image {
  width: var(--width-mobile);
  border-radius: 0.5rem;
}

.NFT-image:hover {
  filter: invert(70%) sepia(90%) saturate(400%) hue-rotate(130deg) brightness(90%) contrast(90%);
}

.NFT-image-container:hover .eye {
  opacity: 1;
}

.eye {
  position: absolute;
  top: 30%;
  left: 47%;
  opacity: 0;
  transition: opacity 0.1s ease;
}

.NFT-title {
  font-family: 'Outfit';
  font-weight: var(--fw-bold);
  color: var(--clr-white);
}

.NFT-title:hover {
  cursor: pointer;
  color: var(--clr-cyan);
}

.NFT-info {
  font-family: 'Outfit';
  font-weight: var(--fw-light);
  font-size: var(--font-paragraph);
  color: var(--clr-softBlue);
}

.NFT-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.NFT-amount {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.35rem;
  font-family: 'Outfit';
  font-weight: var(--fw-bold);
  color: var(--clr-cyan);
}

.NFT-deadline {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.35rem;
  font-family: 'Outfit';
  font-weight: var(--fw-regular);
  color: var(--clr-softBlue);
}

hr {
  border: 1px solid var(--clr-darkBlueLine);
}

.NFT-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.NFT-author p {
  font-family: 'Outfit';
  font-weight: var(--fw-regular);
  color: var(--clr-softBlue);
}

.NFT-author span {
  color: var(--clr-white);
}

.author-image {
  width: 40px;
  border: 1px solid var(--clr-white);
  border-radius: 10rem;
}

.attribution {
  font-family: 'Outfit';
  font-size: 0.75rem;
  font-weight: var(--fw-regular);
  color: var(--clr-white);
}