/* Font Imports */
@font-face {
  font-family: 'Outfit';
  font-display: swap;
  font-weight: 400 700;
  src: url('assets/fonts/Outfit-VariableFont_wght.ttf')
       format('truetype')
}

/*
  CSS Variables
*/
:root {
  /* Layout */
  --width-mobile: 375px;
  --width-desktop: 1440;

  /* Colours */
  --clr-white: hsl(0, 0%, 100%);
  --clr-lightGray: hsl(212, 45%, 89%);
  --clr-grayishBlue: hsl(220, 15%, 55%);
  --clr-darkBlue: hsl(218, 44%, 22%);

  /* Typography */
  --font-paragraph: 15px;
  --fw-regular: 400;
  --fw-bold: 700;
}

/*
  CSS Reset
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  padding: 0;
}
#root, #__next {
  isolation: isolate;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--clr-lightGray);
  gap: 10px;
}

.QR-code {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--clr-white);
  max-width: var(--width-mobile);
  border-radius: 1rem;;
  gap: 1rem;
}

.QR-image {
  border-radius: 0.75rem;
}

.QR-code-text {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0rem 1rem 1rem 1rem;
}

.QR-code-title {
  font-family: 'Outfit';
  font-weight: var(--fw-bold);
  color: var(--clr-darkBlue);
  text-align: center;
}

.QR-code-info {
  font-family: 'Outfit';
  font-weight: var(--fw-regular);
  color: var(--clr-grayishBlue);
  font-size: var(--font-paragraph);
  text-align: center;
}
