/* Variable imports */
@import '../variables.css';

.button-container img {
  background-color: var(--clr-purple);
  padding: 1.25rem;
  border-radius: 100%;
}

.button-container img:hover {
  background-color: var(--clr-offBlack);
  cursor: pointer;
}

