/* Variable Imports */
@import './variables.css';

/* Font Imports */
@font-face {
  font-family: 'Poppins-Regular';
  font-display: swap;
  font-weight: 400;
  src: url('../assets/fonts/Poppins-Regular.ttf')
}
@font-face {
  font-family: 'Poppins-Italic';
  font-display: swap;
  font-weight: 400;
  src: url('../assets/fonts/Poppins-Italic.ttf')
}
@font-face {
  font-family: 'Poppins-Bold';
  font-display: swap;
  font-weight: 700;
  src: url('../assets/fonts/Poppins-Bold.ttf')
}
@font-face {
  font-family: 'Poppins-BoldItalic';
  font-display: swap;
  font-weight: 700;
  src: url('../assets/fonts/Poppins-BoldItalic.ttf')
}
@font-face {
  font-family: 'Poppins-ExtraBold';
  font-display: swap;
  font-weight: 800;
  src: url('../assets/fonts/Poppins-ExtraBold.ttf')
}
@font-face {
  font-family: 'Poppins-ExtraBoldItalic';
  font-display: swap;
  font-weigth: 800;
  src: url('../assets/fonts/Poppins-ExtraBoldItalic.ttf')
}

/*
  CSS Reset
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: 'Poppins-Regular';
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  padding: 0;
}
#root, #__next {
  isolation: isolate;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-offWhite);
  height: 100vh;
  gap: 1rem;
}

.age-calculator {
  display: flex;
  flex-direction: column;
  width: 800px;
  background-color: white;
  padding: 3.25rem 3.25rem 3rem 3.25rem;
  border-radius: 1rem 1rem 14rem 1rem;
}